@model List<EmployeeDto>
@{
    ViewData["Title"] = "Employee";
}

<h2>Employee List</h2>
<a asp-controller="Employee" asp-action="Add" class="btn btn-success">Add Employee</a>
<a asp-controller="EmployeesTransaction" asp-action="AddTransaction" class="btn btn-success">Add Transaction</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>FullName</th>
            <th>PhoneNumper</th>
            <th>Salary</th>
            <th>Final Amount</th>
            <th>HireDate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Employee in Model)
        {
            <tr>
                <td>@Employee.FullName</td>
                <td>@Employee.PhoneNumper</td>
                <td>@Employee.Salary</td>
                <td>@Employee.FinalAmount</td>
                <td>@Employee.HireDate</td>
                <td>
                    <a href="@Url.Action("EmployeeTransaction", "EmployeesTransaction", new { id = Employee.Id })" class="btn btn-primary">View</a>
                    <a href="@Url.Action("Edit", "Employee", new { id = Employee.Id })" class="btn btn-warning">Edit</a>
                    <form asp-action="Delete" asp-controller="Employee" asp-route-id="@Employee.Id" method="post" style="display:inline-block;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
   
</table>