@model List<EmployeeDto>
@{
    ViewData["Title"] = "Employee";
}

<div class="container mt-4">
    <h2 class="mb-4">Employee List</h2>

    <div class="d-flex justify-content-between mb-4">
        <a asp-controller="Employee" asp-action="Add" class="btn btn-success">Add Employee</a>
        <a asp-controller="EmployeesTransaction" asp-action="Add" class="btn btn-success">Add Transaction</a>
    </div>

    <table class="table table-striped table-bordered" id="employeeTable">
        <thead class="table-dark">
            <tr>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Salary</th>
                <th>Final Amount</th>
                <th>Hire Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Employee in Model)
            {
                <tr>
                    <td>@Employee.FullName</td>
                    <td>@Employee.PhoneNumper</td>
                    <td>@Employee.Salary</td>
                    <td>@Employee.FinalAmount</td>
                    <td>@Employee.HireDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a href="@Url.Action("Index", "EmployeesTransaction", new { EmployeeId = Employee.Id })" class="btn btn-primary btn-sm">View</a>
                        <a href="@Url.Action("Edit", "Employee", new { id = Employee.Id })" class="btn btn-warning btn-sm">Edit</a>
                        <form asp-action="Delete" asp-controller="Employee" asp-route-id="@Employee.Id" method="post" style="display:inline-block;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
