@model ClinetTransactionDtoAdd;


<div class="container mt-5">
    <h2 class="mb-4"> Add clinet Transaction </h2>
    <form asp-action="Add" method="post" class="needs-validation">
        <div class="mb-3">
            <label for="Transaction" class="form-label">Transaction Amount</label>
            <input asp-for="Amount" class="form-control" placeholder="Enter transaction amount" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="TransactionDate" class="form-label">Transaction Date</label>
            <input asp-for="TransactionDate" type="date" class="form-control" />
            <span asp-validation-for="TransactionDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Note" class="form-label">Note</label>
            <input asp-for="Note" type="text" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="TransactionType" class="form-label">Transaction Type</label>
            <select asp-for="TransactionType" class="form-control">
                <option value="">Select Type</option>
                @foreach (ClinetTransactionType type in Enum.GetValues(typeof(ClinetTransactionType)))
                {
                    if (type != ClinetTransactionType.None)
                    {
                        if (Model != null && Model.TransactionType == type)
                        {
                            <option value="@((int)type)" selected>@type.ToString()</option>
                        }
                        else
                        {
                            <option value="@((int)type)">@type.ToString()</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="TransactionType" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ClinetId" class="form-label">Clinet Name</label>
            <select asp-for="ClinetId" class="form-control">
                <option value="">Select Employee</option>
                @foreach (var Clinet in ViewBag.clinetName)
                {
                    if (Model.ClinetId != Guid.Empty && Clinet.Id == Model.ClinetId)
                    {
                        <option value="@Clinet.Id" selected>@Clinet.Name</option>
                    }
                    else
                    {
                        <option value="@Clinet.Id">@Clinet.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="ClinetId" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


